:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #bbbbbb;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h2 {
  color: #dddddd;
}

h3 {
  color: #dddddd;
  font-size: 14px;
  margin: 1rem 0 0.5rem;
}
