svg.syntax-diagram path {
  stroke-width: 1.5;
  stroke: black;
  fill: none;
  stroke-linecap: round;
}

svg.syntax-diagram .arrow {
  stroke: none;
  fill: black;
}

svg.syntax-diagram .arrow.arrow-barb {
  stroke: black;
  fill: none;
}

svg.syntax-diagram a {
  text-decoration: none;
}

svg.syntax-diagram rect {
  stroke-width: 1.5;
  stroke: black;
  fill: none;
}

svg.syntax-diagram g.comment rect {
  stroke: none;
}

svg.syntax-diagram tspan {
  font-family: monospace;
  text-anchor: middle;
  font-weight: bold;
  fill: black;
}

svg.syntax-diagram .escape {
  fill: brown;
}

svg.syntax-diagram .group tspan {
  text-anchor: start;
  fill: #808080;
  font-style: italic;
  font-weight: normal;
}

svg.syntax-diagram .group rect {
  fill: #a0a0a0;
}

svg.syntax-diagram g.comment tspan {
  font-style: italic;
  font-weight: normal;
}

svg.syntax-diagram .dbg-content,
svg.syntax-diagram .dbg-display,
svg.syntax-diagram .dbg-content-main,
svg.syntax-diagram .dbg-padding,
svg.syntax-diagram .dbg-margin,
svg.syntax-diagram .dbg-position,
svg.syntax-diagram .dbg-ridge-line {
  display: none;
}
